<p>Você tem certeza que deseja deletar sua conta?<br>Todos os seus dados serão apagados e será necessário criar uma nova conta caso deseje utilizar o BandFriend novamente.<br>Sua conta não poderá mais ser recuperada após ser deletada.</p>
<a href="/delete/{{user._id}}"><button>Sim, desejo deletar minha conta</button></a>
<a href="/profile"><button>Cancelar</button></a>

