<form action="/search" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username">
    </div>
<br>
    <div>
        <input type="checkbox" name="m/f">
        <label for="m/f"> H/M</label><br>
        <input type="checkbox" name="male">
        <label for="male"> Homem</label><br>
        <input type="checkbox" name="female">
        <label for="female"> Mulher</label><br>
    </div>
<br>
    <div>
        <label for="state">Estado:</label>
        <input type="text" name="state">
    </div>

    <div>
        <label for="city">Cidade:</label>
        <input type="text" name="city">
    </div>
<br>
    <div>
        <input type="checkbox" name="rock">
        <label for="rock"> Rock</label><br>
        <input type="checkbox" name="jazz/blues">
        <label for="jazz/blues"> Jazz/Blues</label><br>
        <input type="checkbox" name="MPB">
        <label for="MPB"> MPB</label><br>
        <input type="checkbox" name="sertanejo">
        <label for="sertanejo"> Sertanejo</label><br>
        <input type="checkbox" name="eletrônico">
        <label for="eletrônico"> Eletrônico</label><br>
        <input type="checkbox" name="clássica">
        <label for="clássica"> Clássica</label><br>
        <input type="checkbox" name="metal">
        <label for="metal"> Metal</label><br>
    </div>
<br>
    <div>
        <label for="specialty">Especialidade:</label>
        <input type="text" name="specialty">
    </div>
<br>
    <div>
        <input type="checkbox" name="basic">
        <label for="basic"> Básico</label><br>
        <input type="checkbox" name="intermediate">
        <label for="intermediate"> Intermediário</label><br>
        <input type="checkbox" name="advanced">
        <label for="advanced"> Avançado</label><br>
        <input type="checkbox" name="professional">
        <label for="professional"> Profissional</label><br>
    </div>
<br>
    <div>
        <input type="submit" value="Search">
    </div>
</form>