SEARCH
<a href="/profile"><button>My Profile</button></a>

<form action="/search" method="POST">
    <div>
        <label for="username">Nome de Usuário:</label>
        <input type="text" name="username">
    </div>
    <br>
    <div>
        <label for="gender">Gênero:</label>
        <select id="gender" name="gender">
            <option value="both">Ambos</option>
            <option value="male">Homem</option>
            <option value="female">Mulher</option>
        </select>
    </div>
    <br>
    <div>
        <label for="state">Estado:</label>
        <input type="text" name="state">
    </div>

    <div>
        <label for="city">Cidade:</label>
        <input type="text" name="city">
    </div>
    <br>
    <div>
        <input type="checkbox" value="Rock" name="musicalInfluence">
        <label for="rock"> Rock</label><br>
        <input type="checkbox" value="Jazz/Blues" name="musicalInfluence">
        <label for="jazz/blues"> Jazz/Blues</label><br>
        <input type="checkbox" value="MPB" name="musicalInfluence">
        <label for="MPB"> MPB</label><br>
        <input type="checkbox" value="Sertanejo" name="musicalInfluence">
        <label for="sertanejo"> Sertanejo</label><br>
        <input type="checkbox" value="Eletrônico" name="musicalInfluence">
        <label for="eletrônico"> Eletrônico</label><br>
        <input type="checkbox" value="Clássica" name="musicalInfluence">
        <label for="clássica"> Clássica</label><br>
        <input type="checkbox" value="Metal" name="musicalInfluence">
        <label for="metal"> Metal</label><br>
    </div>
    <br>
    <div>
        <label for="specialty">Especialidade:</label>
        <input type="text" name="specialty">
    </div>
    <br>
    <div>
        <input type="checkbox" name="level" value='Iniciante'>
        <label for="basic"> Iniciante</label><br>
        <input type="checkbox" name="level" value="Intermediário">
        <label for="intermediate"> Intermediário</label><br>
        <input type="checkbox" name="level" value="Avançado">
        <label for="advanced"> Avançado</label><br>
        <input type="checkbox" name="level" value="Profissional">
        <label for="professional"> Profissional</label><br>
    </div>
    <br>
    <div>
        <input type="submit" value="Search">
    </div>
</form>

{{#each users}}
<div>
    <a href="/profile/{{_id}}">{{this.username}} {{this.gender}}</a>
</div>
{{/each}}