<div class="home">
    <nav class="container-nav --home">
        <div class="logo-home">
            <a href="/profile">
                <p>BandMate</p>
            </a>
        </div>
        <div>
            <ul class="list">
                <li class="navbar-links"><a href="#">Sobre</a></li>
                {{#unless username}}
                <li class="navbar-links"><a href="/">Cadastrar</a></li>
                <li id="profile-icon" class="navbar-links"><a href="/login">Login</a></li>
                {{!-- <li id="profile-icon"><a href="/profile"><i class="fas fa-user-circle fa-2x"></i></a></li> --}}
                {{/unless}}
                {{#if username}}
                <li class="navbar-links"><a href="/logout">Sair</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <main>
        <section class="main-section">
            <div class="sign">
                <div class="sign-form">

                    <h2>Não deixe a fama esperando.</h2>

                    <h2>Cadastre-se hoje. </h2>

                    <form action="/signup" method="POST" id="form-container">
                        <label for="username">Username</label>
                        <br>
                        <input id="username" type="text" name="username" placeholder="Nina Simone" required>
                        <br><br>
                        <label for="password">Password</label>
                        <br>
                        <input id="password" type="password" name="password" placeholder="********" required>

                        {{#if message}}
                        <div class="error-message">{{ message }}</div>
                        {{/if}}
                        <br><br>

                        <div class="sign-button-and-login">
                            <button class="sign-button" type="submit">
                                <p>Criar conta</p>
                            </button>
                            <p class="account-message">
                                Já tem uma conta?
                                <a href="/login">Login</a>
                            </p>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </section>
    </main>
</div>