<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{title}}</title>

  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <style>
    @import url('https://fonts.cdnfonts.com/css/hard-rock');
  </style>

  <script src="https://kit.fontawesome.com/cd0243b933.js" crossorigin="anonymous"></script>

</head>

<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>