<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{title}}</title>
  <style>
    @import url('https://fonts.cdnfonts.com/css/hard-rock');
  </style>
  <script src="https://kit.fontawesome.com/cd0243b933.js" crossorigin="anonymous"></script>

  <link rel="icon" href="/images/fav-icon.png" type="image">

  {{!-- style --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- profile --}}
  <link rel="stylesheet" href="/stylesheets/profile.css">
  {{!-- login & home/signup --}}
  <link rel="stylesheet" href="stylesheets/sign-home.css">
  {{!-- search --}}
  <link rel="stylesheet" href="/stylesheets/search.css">
  {{!-- edit profile --}}
  <link rel="stylesheet" href="/stylesheets/edit-profile.css">
  {{!-- delete --}}
  <link rel="stylesheet" href="/stylesheets/delete.css">
  {{!-- email sent message --}}
  <link rel="stylesheet" href="/stylesheets/delete.css">


</head>

<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>