body {
    margin: 0;
    padding: 0;
    background-image: url(/images/home-background.jpg);
    background-size: cover;
    font-family: 'Airbnb Cereal App Bold';
}

/* NAVBAR */
.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: rgb(16,16,16);
    align-items: baseline;
    border-radius: 15px;
    font-size: 1.15rem;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    margin-left: 30px;
}
li a {
    color: rgba(255, 247, 246, 0.897);
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    color: rgb(206,42,52);
    text-decoration: none;
}

.logo img {
    width: 60px;
    height: 60px;
}

/* MAIN SECTION */
.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.signup {
    background-color: rgba(255, 255, 255, 0.9);
    width: 30%;
    color: rgb(65,65,65);
    margin: 70px 0 0 70px;
    border-radius: 15px;
}

.signup-form {
    margin: 55px;
    margin-bottom: 15px;
}

.signup-form a {
    text-decoration: none;
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form button {
    color: white;
    background-color: rgb(206,42,52);
    border-radius: 5px;
    height: 50px;
    font-size: 15px;
    border: none;
    width: 7rem;
}

.signup-form input {
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
}

.signup-form p {
    margin-bottom: 0;
}

.signup-button-and-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bandmate {
    margin-right:7%;
    margin-bottom: 23%;
    font-size: 10rem;
    color: black;
    font-family: 'HARD ROCK', sans-serif;
}