/* .profile-container {
    margin: 30px 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-nav {
    background-color: firebrick;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.list {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-links a:hover {
    color: white;
    border-bottom: firebrick solid;
}

.profile-container {
    margin: 30px 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
    width: 25vw;
    margin-top: 60px;
    margin-left: 1vw;
}

.left-side .name h4 {
    color: firebrick;
}

.invitation-button-border {
    border: solid rgb(21,34,53);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.8vw;
    height: 2.8vw;
    border-radius: 2px;
    margin: 3px;
    margin-right: 0;
}

.invitation-button-border:hover {
    background-color: rgb(21,34,53);
}

.invitation {
    line-height: 2vw;
    font-family: "Airbnb Cereal App Medium";
    color: white;
    text-align: center;
    border-radius: 2px;
    margin: 0;
    width: 6vw;
    height: 2vw;
    background-color: rgb(21,34,53);
}

.invitation a {
    color: white;
    text-decoration: none;
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20vw;
    margin-top: 60px;
    right: 47.5vw;
}

.profile-photo img {
    width: 9.5rem;
    border: solid rgb(21,34,53);
}

.photo-button-border {
    border: solid rgb(21,34,53);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    border-radius: 2px;
    margin: 3px;
    margin-right: 0;
    background-color: rgb(21,34,53);
}


.profile-photo label {
    line-height: 2vw;
    font-family: "Airbnb Cereal App Medium";
    color: white;
    text-align: center;
    border-radius: 2px;
    margin: 0;
    width: 7vw;
    height: 2vw;
    background-color: rgb(21,34,53);
}

.profile-photo label:hover {
    cursor: pointer;
}
.profile-photo #photo {
    width: 0;
    height: 0;
}

.right-side {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 60px;
    right: 24vw;
}

.right-side .specialty-level {
    color: firebrick;
}

#edit-icon {
    color: rgb(21,34,53);
    margin-left: 10px;
}

.profile-edit {
    display: flex;
    flex-direction: row;
}

.invitation-card {
    color: rgb(21,34,53);
    border-radius: 5px;
    width: 20vw;
    margin-top: 60px;
    position: fixed;
    top: 30;
    right: 1vw;
}
.invitation-card h1 {
    text-align: center;
} */

.profile-container {
  display: flex;
  flex-direction: row;
  margin: 80px auto;
  width: 100vw;
  max-width: 1100px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left, .right {
    padding: 0 10px;
}

.up-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
}

.profile-photo img {
    margin: 0;
    width: 100%;
  }

.up-left-2 {
  text-align: right;
}

.name {
  
}

#lookingFor-message {
  text-align: left;
}

.name-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#face-icon,
#insta-icon {
  color: rgb(21, 34, 53);
  margin-left: 10px;
}

#edit-icon {
  color: rgb(21, 34, 53);
  margin-left: 4px;
  padding-bottom: 13px;
}

.photo-button-border {
  color: white;
  border: solid rgb(21, 34, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(21, 34, 53);
  padding: 5px;
  /* width: 20%; */
}

.social-media {
  align-self: flex-start;
}

.profile-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-edit h1 {
  margin: 0;
}

.name h4 {
  text-align: right;
}

#save-photo {
  margin-left: 5px;
}

.bio p {
    text-align: justify;
}