.profile-container {
  display: flex;
  flex-direction: row;
  margin: 80px auto 20px;
  padding: 20px;
  width: 100vw;
  max-width: 1100px;
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.41);
  padding-bottom: 50px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left {
  height: auto;
  padding: 0 40px;
  padding-right: 0;
}

.right {
  padding-right: 40px;
}

.up-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
}

.profile-photo img {
  margin: 0;
  width: 100%;
}

.up-left-2 {
  text-align: right;
}

.name-username {
  display: flex;
  flex-direction: column;
}

.name-username h1 {
  margin-bottom: 0;
}

.name-username h4 {
  margin: 0;
}

.up-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 2px solid rgb(21, 34, 53); */
  height: auto;
  margin: 20px 0 0 60px;
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.36);
  border-radius: 5px;
}

.email-box {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  padding-left: 50px;
}


#invitation-title {
  margin: 0 auto;
}

.invitation-link {
  margin-left: 10px;
}

.invitation-link span {
  color: firebrick;
}

.accept-delete {
  display: flex;
  justify-content: space-between;
}

.accept-delete a:hover {
  color: firebrick;
}

#lookingFor-message {
  text-align: left;
}

.specialty-level,
.name span,
#lookingFor-message span {
  color: firebrick;
}

.name-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#face-icon,
#insta-icon {
  color: rgb(21, 34, 53);
  margin-left: 10px;
}

#edit-icon {
  color: rgb(21, 34, 53);
  margin-left: 4px;
  padding-bottom: 13px;
}

.photo-button-border {
  color: white;
  border: solid rgb(21, 34, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(21, 34, 53);
  padding: 5px;
}

.social-media {
  align-self: flex-start;
}

.profile-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-edit h1 {
  margin: 0;
}

.name h4 {
  text-align: right;
}

#save-photo {
  margin-left: 5px;
}

.bio p {
  text-align: justify;
}

.cards-container-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  padding-left: 20px;
}

.profile-card {
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.36);
}

.profile-photo-search {
  display: flex;
  flex-direction: column;
}

.friends h1 {
  display: inline;
  margin-left: 500px;
}

.friends {
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.41);
  width: 74.3vw;
  margin-left: 190px;
  margin-bottom: 30px;
  padding-top: 20px;
}

#unfriend {
  padding-left: 25px;
}

#unfriend:hover {
  color: firebrick;
}

.drop-down {
  position: absolute;
  top: 45px;
  right: 0px;
  padding: 0px 5px;
  height: 0;
  overflow: hidden;
}

.drop-down li {
  margin: 0;
  margin-top: 5px;
  padding: 0 15px;
}

.drop-down li a {
  color: white;
}

.drop-down-box {
  height: 100%;
  padding-bottom: 10px;
}

.drop-down-box:hover > .drop-down {
  background-color: firebrick;
  padding: 10px 5px;
  height: auto;
}

.drop-down li a:hover {
  color: rgb(21, 34, 53);
}
