.home-login {
  margin: 0;
  padding: 0;
  background-image: url(/images/FreddieMercury.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Airbnb Cereal App Bold";
  background-color: rgb(3, 18, 23);
  background-position: 75%;
}

.home {
  margin: 0;
  padding: 0;
  background-image: url(/images/FreddieMercury-invertido.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Airbnb Cereal App Bold";
  background-color: rgb(3, 18, 23);
  background-position: 25%;
}

/* NAV */
.--home {
  background-color: rgba(178, 34, 34, 0);
  position: static;
}

.logo-home p{
  color: white;
  font-family: "HARD ROCK", sans-serif;
  font-size: 3rem;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  text-decoration: none;
  padding-top: 4px;
}

/* MAIN SECTION */
.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sign {
  background-color: rgba(0, 0, 0);
  width: 30%;
  color: white;
  margin: 60px 0 0 60%;
  border-radius: 15px;
}

.sign-login {
  background-color: rgba(0, 0, 0);
  width: 30%;
  color: white;
  margin: 60px 0 0 10%;
  border-radius: 15px;
}

.sign-form {
  margin: 55px;
  margin-bottom: 15px;
  font-family: "Airbnb Cereal App Bold";
}

.sign-form a {
  color: firebrick;
}

.sign-form a:hover {
  text-decoration: underline;
}

.sign-form h2 {
  margin-bottom: 20px;
}

.sign-form button {
  font-size: 15px;
  color: white;
  background-color: rgb(206, 42, 52);
  border: none;
  border-radius: 5px;
  width: 7rem;
  height: 50px;
}

.sign-form button p {
  margin: 0;
  padding: 0;
}

.sign-form input {
  border-radius: 6px;
  height: 40px;
  font-size: 1.3rem;
  background-color: rgb(236, 226, 226);
}

.sign-form p {
  margin-bottom: 0;
}

.sign-button-and-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sign-button:hover {
  /* cursor: url('/public/images/cursor.png'), auto; */
  cursor: pointer;
}

.bandmate-login::selection {
  background-color: pink;
}
